@use "sass:color";

.customer-table {
  table {
    width: 100%;

    tr {
      animation-duration: 0.75s;
    }

    @for $i from 1 through 25 {
      tr:nth-child(#{$i}) {
        animation-delay: 0.08s *$i;
      }
    }

    td {
      @include tablePadding;
      padding: 2.4rem 1.4rem;
      color: $dark;

      vertical-align: middle;
      font-weight: 500;
      text-align: left;
      font-size: 1.4rem;

      border-bottom: 1px solid #eee;

      &.action {
        text-align: center;
      }
    }

    th {
      @extend td;
      position: relative;
      padding: 1.4rem;

      color: $silver;
      border-bottom: none;

      &:before {
        content: '';
        position: absolute;
        width: calc(100% + 15rem);
        height: 1px;
        background-color: #eee;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    margin-top: 3rem;

    .dt-info {
      color: $silver;
    }

    .dt-paging {
      nav {
        display: flex;
        gap: 1.2rem;
      }

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 2.4rem;
        height: 2.4rem;
        padding: 0 0.4rem;
        border-radius: 0.4rem;
        border: 1px solid #eee;
        background: #f5f5f5;

        font-size: 1.2rem;
        line-height: 1;
        color: $charcoalGray;

        &.previous,
        &.next {
          padding-bottom: 3px;
        }

        &:hover {
          border-color: $royalPurple;
        }
        &.current {
          color: $white;
          background: $royalPurple;
          border-color: $royalPurple;
        }
      }
    }
  }
}

.action-status {
  min-width: 8rem;
  border-radius: 0.4rem;
  padding: 0.3rem 0.8rem;

  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;

  &.action-status_active {
    background: rgba(22, 192, 152, 0.38);
    border: 1px solid #00b087;
    color: #008767;

    &:hover {
      background: rgba(22, 192, 152, 0.58);
    }
  }

  &.action-status_inActive {
    $inActive: #df0404;
    $inActiveBG: #ffc5c5;

    background: $inActiveBG;
    border: 1px solid $inActive;
    color: $inActive;

    &:hover {
      background: color.adjust($inActiveBG, $lightness: -5%);;
    }
  }
}

@media all and (max-width: 991px) {
  .customer-table {
    table {
      td {
        font-size: 1.3rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .customer-table {
    table {
      width: 100%;

      td {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }

    &__footer {
      flex-direction: column;
    }
  }

  .dtr-control {
    display: flex;
    justify-content: space-between;

    &:after {
      content: '';
      width: 10px;
      height: 10px;
      border-right: 2px solid $mintGreen;
      border-bottom: 2px solid $mintGreen;
      transform: rotate(-45deg);

      .dtr-expanded & {
        transform: rotate(45deg);
      }
    }
  }

  .dtr-details {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      gap: 15px;
      width: 100%;
      padding: 0.8rem 0;
      align-self: center;

      .dtr-title {
        width: 36%;
        color: $silver;
        flex: 0 0 36%;

        &:after {
          content: ':';
        }
      }
    }
  }

  .action-status {
    border: none !important;
    background: none !important;
    min-width: 0;
    padding: 0;
    font-weight: 600;
  }
}

@media all and (max-width: 410px) {
  .customer-table__footer .dt-paging nav {
    gap: 0.8rem;
  }
}