div.customer-content
    div.customer-content__head
        div.wow.animate__fadeIn
            h2.customer-content__title All Customers
            h5.customer-content__sub-title Active Members

        include ./search

    div.customer-content__body.wow.animate__fadeIn
        include ./castomer-table