div.search.wow.animate__fadeIn
    button.search__button
        svg
            use(xlink:href="img/sprites/sprite.svg#search")
    input.search__input(
        type="text"
        placeholder="Search"
        name="search"
    )