*, ::after, ::before {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  font-size: $htmlFontSize;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}

body {
  font-family: 'Poppins';
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: $textColor;
  background: $softLavender;
  font-weight: 500;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  min-height: 100vh;
}

svg {
  display: block;
}

a,
button,
input,
textarea,
button,
select {
  @include transition;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block
}

button {
  cursor: pointer;
  outline: 0;
}

input,
textarea,
select {
  width: 100%;
  padding: 1rem 1.2rem;
  outline: 0;
}

a {
  text-decoration: none;
  color: $colorLink;
}

a:hover {
  color: $colorLinkHover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;

  min-height: 100vh;
}

@media all and (min-width: 1921px) {
  html {
    font-size: $htmlFontSize-xl;
  }
}

@media all and (max-width: 1280px) {
  html {
    font-size: $htmlFontSize-sm;
  }
}

@media all and (max-width: 991px) {
  html {
    font-size: $htmlFontSize;
  }

  .wrapper {
    flex-wrap: wrap;
  }
}